{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}
<div class="max-w-lg mx-auto mt-15 hover:text-blue-600 border-b border-gray-200 py-3 mb-2">
    <a class="" href="{% url 'agents:agent-list' %}">Go back to list</a>
</div>
<div class="max-w-lg mx-auto mt-6 mb-7">
    <h1 class="text-3xl">Create a new agent:</h1>
</div>
    <div class="max-w-lg mx-auto mt-15">
        <form method="post" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="w-full bg-blue-500 hover:bg-blue-600 py-2 text-white rounded-md" type="submit">
                Submit
            </button>
        </form>
    </div>
{% endblock content %}